 <link th:href="@{./css/addCourse.css}" rel="stylesheet" />
   
       <body class="d-flex">
                          <div th:insert="~{../templates/admin.html}" class="sticky-top"></div>
            

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4>Course Details</h4>
            </div>
        </div>

        <form class="form" th:action="@{addcourses}" th:method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="input-container">
                        <label for="courseName">Course Name</label>
                        <input type="text" placeholder="Enter Course Name" name="courseName">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <label for="fees">Course Fees</label>
                        <input type="text" placeholder="Enter Course Fees" name="fees">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <label for="noOfHours">Course Hours</label>
                        <input type="text" placeholder="Enter Course Hours" name="noOfHours">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <label for="prerequisites">Pre Requisite</label>
                        <input type="text" placeholder="Enter Pre Requisite" name="prerequisites">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <label for="banner">Upload Banner</label>
                        <input type="file" name="banner">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <label for="type">Course Type</label>
                        <select class="form-select" aria-label="Default select example" name="type">
  <option selected>Open this select menu</option>
  <option value="Free">Free</option>
  <option value="Paid">Paid</option>
</select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-container">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Enter the Course Objective" id="floatingTextarea" name="objective"></textarea>
                            <label for="floatingTextarea">Course Objective</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="submit">Upload</button>
        </form>
    </div>
</body>
    
    