

<div th:insert="~{../templates/index.html}"></div>

<h1 id="viewAssignments">View Assignments</h1>



<table
	summary="This table shows how to create responsive tables using Datatables' extended functionality"
	class="table table-bordered table-hover dt-responsive" id="assignment">
	<thead>
		<tr>
			<th>#</th>

			<th>Question Name</th>
			<th>Description</th>
			<th> Assignment Type</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="im : ${assignments}" class="text-center">

            <th th:text="${im.AssignmentId}"></th>
			<td th:text=${im.Question}></td>
			<td th:text="${im.Description}"></td>
					<td th:text="${im.Type}"></td>
		
		</tr>
	</tbody>
	<tfoot>

	</tfoot>
</table>