<div th:insert="~{../templates/admin.html :: content}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Courses</h5>
                        <p class="card-text">Manage your courses here.</p>
                        <a href="#" class="btn btn-light">Go to Courses</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Assignments</h5>
                        <p class="card-text">View and manage assignments.</p>
                        <a href="#" class="btn btn-light">Go to Assignments</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Tests</h5>
                        <p class="card-text">Create and manage tests.</p>
                        <a href="#" class="btn btn-light">Go to Tests</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Interview Questions</h5>
                        <p class="card-text">Manage interview questions.</p>
                        <a href="#" class="btn btn-light">Go to Questions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
