<div th:insert="~{../templates/admin.html}" class="sticky-top"></div>

<div class="container mt-5">
	<div class="card">
		<div class="card-header">Featured</div>
		<div class="card-body">
			<div class="row">
				<form th:action="@{viewChapters}" th:method="post">
					<div class="col-8">
						<select class="form-select form-select-lg mb-3"
							aria-label="Large select example" name="courseId">
							<option disabled selected>Select the course</option>
							<option th:each="list : ${list}" th:value="${list.courseId}"
								th:text="${list.courseName}"></option>
						</select>
					</div>
					<div class="col-4">
						<button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
					</div>
				</form>
				<div class="col-12">
					<h1 th:text="${cId}"></h1>
					<table
						summary="This table shows how to create responsive tables using Datatables' extended functionality"
						class="table table-bordered table-hover dt-responsive">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Chapter Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${chapters}"
								th:if="${list.course.courseId == cId}">
								<th scope="row" th:text="${list.chapterId}"></th>
								<td th:text="${list.chapterName}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('table').DataTable();
</script>

