
<body class="d-flex">
	<div th:insert="~{../templates/admin.html}" class="sticky-top"></div>

	<div class="container">

		<div class="card">
			<div class="card-header">Chapter List</div>
			<div class="card-body">
			
				<form th:action="@{viewChapters}"  th:method="post">
				<div class="row py-3">
					<div class="col-6">

					<select class="form-select" aria-label="Default select example" name="courseId">
						<option th:each="im : ${list}" th:value="${im.courseId}" 
							th:text="${im.courseName}"></option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form> 
			
			</div>
		</div>
	</div>