
<body class="d-flex">
	<div th:insert="~{../templates/admin.html}" class="sticky-top"></div>

	<div class="container">

		<div class="card">
			<div class="card-header">Chapter List</div>
			<div class="card-body">
			
				<form th:action="@{viewChapters}"  th:method="post">
				<div class="row py-3">
					<div class="col-6">

					<select class="form-select" aria-label="Default select example" name="courseId">
						<option th:each="im : ${list}" th:value="${im.courseId}" 
							th:text="${im.courseName}"></option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form> 
			
			</div>
		</div>
		
	
	
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center ">
				<table
					summary="This table shows how to create responsive tables using Datatables' extended functionality"
					class="table table-bordered table-hover dt-responsive">
					<thead>
						<tr>
							<th>#</th>
				
							<th>Chapter Name</th>
							<th>Course Id </th>
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="im : ${list}" th:if="${im.ChapterName}" class="text-center">
							<td th:text=${im.ChapterId}></td>

							<td th:text=${im.ChapterName}></td>
						</tr>
					</tbody>
					<tfoot>

					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<script>
		$('table').DataTable();
	</script>
	</div> 