


	<div th:insert="~{../templates/admin.html}" class="sticky-top"></div>

<div class="container-fluid">

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
  
    <div class="row">
    
      <div class="col-6">
      <select class="form-select form-select-lg mb-3"
							aria-label="Large select example" name="courseId" id="courseId"
							onchange="viewUploadCourseId()">
							<option disabled selected>Select the course</option>
							<option th:each="list : ${list}" th:value="${list.courseId}"
								th:text="${list.courseName}"></option>
						</select>
						
						
						<input type="hidden" th:value="1" name="con" id="con">
      
      </div>
      
       <div class="col-6">
     
				    <div id="table"></div> <!-- This is where the table records will be displayed -->				
      </div>
      
       <div class="col-12">
				    <div id="viewAssignments"></div> <!-- This is where the table records will be displayed -->				
      </div>
      
    </div>
  </div>
</div>
</div>

<script src="./js/Assignments.js"></script>