
	<div th:insert="~{../templates/admin.html}"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-justify ">
				<table
					summary="This table shows how to create responsive tables using Datatables' extended functionality"
					class="table table-bordered table-hover dt-responsive">
					<thead>
						<tr>
							<th>#</th>
				
							<th>Course Name</th>
							<th>Banner </th>
							<th>Banner Image</th>
							<th>Fees</th>
							<th>Hours</th>
							<th>Objective</th>
								<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="im : ${list}" class="text-center">
							<td th:text=${im.courseId}></td>

							<td th:text=${im.courseName}></td>

							<td th:text=${im.banner}></td>
							<td>
							 <img th:src="@{'/uploads/' + ${im.banner}}" width="50%"
							height="auto" alt="Course Banner" />
							</td>
							<td th:text=${im.fees}></td>
							<td th:text=${im.noOfHours}></td>
							<td th:text=${im.objective}></td>
							<td >
							<div class="d-flex gap-2">
							       <a href="#" class="item">update</a>
							       <a th:href="@{'/deleteCourse/' + ${im.courseId}}">Delete</a>
							</div>
							</td>




						</tr>


					</tbody>
					<tfoot>

					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<script>
		$('table').DataTable();
	</script>
